.dialog {

}

.dialog a {
    display: inline-block;
    color: #263994;
    text-decoration: none;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #000;
    text-indent: 10px;
}

.dialog a:hover {
    color: #000;
}

.dialog a.active {
    color: #fff;
    background: #999ca9;
}
