.nav {
    grid-area: n;
    background-color: #263994;
    padding: 20px;
}

.item {
    padding: 4px 0;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a.active {
    color: gold;
}