.item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80px 1fr;
    padding: 10px;
    margin-bottom: 4px;
    color: #000;
    border: 1px solid #b9b9b9;
    background: #ccc;
}
.item .socInfo{
    grid-column: 2;
    text-align: right;
}

.item .text,
.item .socInfo {
    padding-left: 20px;
}

.item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}